<div class="container-fluid p-4">
  <!-- Botón de Agregar Nueva Venta en la parte superior -->
  <div class="text-center mb-4">
    <a href="/ventas/add" class="btn btn-primary">Agregar Nueva Venta</a>
  </div>
  
  <h3 class="text-center">Ventas de Ganado</h3>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Reemo</th>
        <th>Cliente</th>
        <th>Total</th>
        <th>Fecha de Venta</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each ventas}}
        <tr>
          <td>{{@index}}</td>
          <td>{{reemo}}</td>
          <td>{{customer}}</td>
          <td>${{totalAmount}}</td>
          <td>{{saleDateFormatted}}</td>
          <td>{{status}}</td>
          <td>
            <a href="/ventas/{{_id}}" class="btn btn-info btn-sm">Ver Detalles</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
