{{#if suppliers}}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>N.</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {{#each suppliers}}
        <tr>
            <td>{{@index}}</td>
            <td>{{supplierName}}</td>
            <td>{{phone}}</td>
            <td>
                <a href="/suppliers/edit/{{_id}}" class="btn btn-info"><i class="bi bi-pencil-square"></i> Editar</a>
                <form action="/suppliers/delete/{{_id}}?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"></i> Eliminar</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="text-center">No hay Proveedores</h1>
        <img src="/img/usuarios.png" style="width: 50%; height: auto;" >
    </div>
</div>
{{/if}}



